@model List<CarRental>
@{
    ViewBag.Title = "Rental List";
}

<title>Rental Index</title>

<h1>Rental list</h1>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Location</th>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Price</th>
            <th>Company</th>
            <th>Availability</th>
            <th>Specifications</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var carRental in Model)
        {
            <tr>
                <td><a asp-action="BookRental" asp-route-id="@carRental.RentalId" class="btn btn-danger">Book</a></td>
                <td>@carRental.Location</td>
                <td>@carRental.CarYear</td>
                <td>@carRental.CarMake</td>
                <td>@carRental.CarModel</td>
                <td>@carRental.Price</td>
                <td>@carRental.RentalCompany</td>
                <td>@carRental.Availability</td>

                <td><a asp-action="Specifications" asp-route-id="@carRental.RentalId" class="btn btn-danger">Details</a></td>
                <!-- If this was car rental, create your own button would be here -->
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="CarRentals" asp-action="CreateRental">Create Car Rental</a>
</p>